@using Turnstile.Web.Controllers
@using Turnstile.Web.Extensions

@model PickSubscriptionViewModel

@{
    var layoutModel = ViewData.GetLayoutModel()!;
    var manageableSubs = Model.Subscriptions.Where(s => s.CanUserAdministerSubscription).ToList();

    ViewData["Title"] = $"Choose subscription | {layoutModel.TurnstileName}";
}

<h1>Please choose a subscription</h1>

@if (manageableSubs.Any())
{
    <ul class="nav nav-tabs" id="pickTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="use-tab" data-bs-toggle="tab" data-bs-target="use-pane" type="button" role="tab" aria-controls="use-pane" aria-seleted="true">Use</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="manage-tab" data-bs-toggle="tab" data-bs-target="manage-pane" type="button" role="tab" aria-controls="manage-pane" aria-selected="false">Manage</button>
        </li>
    </ul>
}

<div class="list-group" style="margin-top: 20px">
    <div class="tab-content" id="pickPanes">
        <div class="tab-pane fade show active" id="use-pane" role="tabpanel" aria-labelledby="use-tab">
            @foreach (var subscription in Model.Subscriptions)
            {
                var subTurnstileUrl = Url.RouteUrl(
                    TurnstileController.RouteNames.SpecificTurnstile,
                    Model.ReturnToUrl == null ?
                        new { subscriptionId = subscription.SubscriptionId } :
                        new { subscriptionId = subscription.SubscriptionId, returnTo = Model.ReturnToUrl });

                <a href="@subTurnstileUrl" class="list-group-item list-group-item-action">
                    @subscription.SubscriptionName &nbsp;
                    @if (subscription.CanUserAdministerSubscription == true)
                    {
                        <span class="badge badge bg-primary">Admin</span>
                    }
                    <br /><small class="text-muted">@subscription.SubscriptionId</small>
                </a>
            }
        </div>
        @if (manageableSubs.Any())
        {
            <div class="tab-pane fade" id="manage-pane" role="tabpanel" aria-labelledby="manage-tab">
                @foreach (var subscription in manageableSubs)
                {
                    var manageSubUrl = Url.RouteUrl(
                        SubscriptionsController.RouteNames.GetSubscription,
                        new { subscriptionId = subscription.SubscriptionId });

                    <a href="@manageSubUrl" class="list-group-item list-group-item-action">
                        <span><b>Manage</b> @subscription.SubscriptionName </span>
                        <br /><small class="text-muted">@subscription.SubscriptionId</small>
                    </a>
                }
            </div>
        }
    </div>
</div>