@using Turnstile.Core.Constants;
@using Turnstile.Web.Controllers
@model SubscriptionDetailViewModel

@{
    ViewData["Title"] = $"No seats available | {Model.SubscriptionName ?? Model.SubscriptionId} | Turnstile";
    Layout = "_SubscriberLayout";

    bool CanUserEditSubscriptionName() =>
        (Model.UserIsSubscriberAdmin || Model.UserIsTurnstileAdmin) &&
        (Model.State != SubscriptionStates.Canceled);

    bool CanUserEditTenantName() =>
        (Model.UserIsSubscriberAdmin || Model.UserIsTurnstileAdmin) &&
        (Model.State != SubscriptionStates.Canceled);

    bool CanUserEditAdminName() =>
        (Model.UserIsSubscriberAdmin || Model.UserIsTurnstileAdmin) &&
        (Model.State != SubscriptionStates.Canceled);

    bool CanUserEditAdminEmail() =>
        (Model.UserIsSubscriberAdmin || Model.UserIsTurnstileAdmin) &&
        (Model.State != SubscriptionStates.Canceled);

    bool CanUserEditAdminRole() =>
        (Model.UserIsSubscriberAdmin || Model.UserIsTurnstileAdmin) &&
        (Model.State != SubscriptionStates.Canceled);

    bool CanUserEditUserRole() =>
        (Model.UserIsSubscriberAdmin || Model.UserIsTurnstileAdmin) &&
        (Model.State != SubscriptionStates.Canceled);

    bool CanUserEditState() =>
        Model.UserIsTurnstileAdmin &&
        Model.State != SubscriptionStates.Canceled;

    bool CanUserEditConfigurationState() =>
        Model.UserIsTurnstileAdmin &&
        Model.State != SubscriptionStates.Canceled;
}

<h1>Manage subscription</h1>
<hr />

<form method="post">
    <div class="mb-3">
        <label asp-for="@Model.SubscriptionName" class="form-label">&nbsp;<span class="text-danger">*</span></label>
        @if (CanUserEditSubscriptionName())
        {
            <input asp-for="@Model.SubscriptionName" class="form-control" type="text" aria-describedBy="subNameHelp" />
        }
        else
        {
            <input asp-for="@Model.SubscriptionName" class="form-control" type="text" aria-describedBy="subNameHelp" disabled />
        }
        <span asp-validation-for="@Model.SubscriptionName" class="text-danger"></span>
        <div id="subNameHelp" class="form-text">The name of this subscription as it will appear in the UI.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.TenantName" class="form-label">&nbsp;<span class="text-danger">*</span></label>
        @if (CanUserEditTenantName())
        {
            <input asp-for="@Model.TenantName" class="form-control" type="text" aria-describedBy="tenantNameHelp" />
        }
        else
        {
            <input asp-for="@Model.TenantName" class="form-control" type="text" aria-describedBy="tenantNameHelp" disabled />
        }
        <span asp-validation-for="@Model.TenantName" class="text-danger"></span>
        <div id="tenantNameHelp" class="form-text">The name of the subscriber's organization as it will appear in the UI.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.AdminName" class="form-label">&nbsp;<span class="text-danger">*</span></label>
        @if (CanUserEditAdminName())
        {
            <input asp-for="@Model.AdminName" class="form-control" type="text" aria-describedBy="adminNameHelp" />
        }
        else
        {
            <input asp-for="@Model.AdminName" class="form-control" type="text" aria-describedBy="adminNameHelp" disabled />
        }
        <span asp-validation-for="@Model.AdminName" class="text-danger"></span>
        <div id="adminRoleNameHelp" class="form-text">The name of this subscription's primary admin.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.AdminEmail" class="form-label">&nbsp;<span class="text-danger">*</span></label>
        @if (CanUserEditAdminEmail())
        {
            <input asp-for="@Model.AdminEmail" class="form-control" type="text" aria-describedBy="adminEmailHelp" />
        }
        else
        {
            <input asp-for="@Model.AdminEmail" class="form-control" type="text" aria-describedBy="adminEmailHelp" disabled />
        }
        <span asp-validation-for="@Model.AdminEmail" class="text-danger"></span>
        <div id="adminRoleNameHelp" class="form-text">The email address of this subscription's primary admin.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.AdminRoleName" class="form-label"></label>
        @if (CanUserEditAdminRole())
        {
            <input asp-for="@Model.AdminRoleName" class="form-control" type="text" aria-describedBy="adminRoleNameHelp" />
        }
        else
        {
            <input asp-for="@Model.AdminRoleName" class="form-control" type="text" aria-describedBy="adminRoleNameHelp" disabled />
        }
        <span asp-validation-for="@Model.AdminRoleName" class="text-danger"></span>
        <div id="adminRoleNameHelp" class="form-text">If configured, users that belong to this role (in addition to the primary admin) can <b>administer</b> this subscription.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.UserRoleName" class="form-label"></label>
        @if (CanUserEditUserRole())
        {
            <input asp-for="@Model.UserRoleName" class="form-control" type="text" aria-describedBy="userRoleNameHelp" />
        }
        else
        {
            <input asp-for="@Model.UserRoleName" class="form-control" type="text" aria-describedBy="userRoleNameHelp" disabled />
        }
        <span asp-validation-for="@Model.UserRoleName" class="text-danger"></span>
        <div id="userRoleNameHelp" class="form-text">If configured, only users that belong to this role can <b>use</b> this subscription.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.State" class="form-label"></label>
        @if (CanUserEditState())
        {
            <select asp-for="@Model.State" asp-items="@Model.AvailableStates" class="form-select" aria-describedBy="stateHelp" />
        }
        else
        {
            <select asp-for="@Model.State" asp-items="@Model.AvailableStates" class="form-select" aria-describedBy="stateHelp" disabled />
        }
        <span asp-validation-for="@Model.State" class="text-danger"></span>
        <div id="userRoleNameHelp" class="form-text">The current state of this subscription.</div>
    </div>
</form>

@*@if (Model.IsSubscriptionAdministrator)
{
    <lead>No more seats available. To purchase additional seats, @Html.Raw(Model.SalesContactHtml).</lead>
}
else
{
    <lead>No more seats available. For assistance, @Html.Raw(Model.SubscriptionAdminContactHtml).</lead>
}*@

<div style="margin-top: 20px">
    <a role="button" class="btn btn-primary" href="@Url.RouteUrl(TurnstileController.RouteNames.DefaultTurnstile)">Try again »</a>
</div>