<footer class="border-top footer text-muted">
    <div class="container clearfix">
        <div class="float-start">
            @if (ViewData.ContainsKey(nameof(LayoutViewModel)))
            {
                var footerModel = ViewData[nameof(LayoutViewModel)] as LayoutViewModel;

                if (!string.IsNullOrEmpty(footerModel!.PublisherName))
                {
                    if (string.IsNullOrEmpty(footerModel.HomePageUrl))
                    {
                        <span>&copy; @DateTime.UtcNow.Year @footerModel.PublisherName</span>
                    }
                    else
                    {
                        <span>&copy; @DateTime.UtcNow.Year <a href="@footerModel.HomePageUrl">@footerModel.PublisherName</a></span>
                    }

                    if (!string.IsNullOrEmpty(footerModel.ContactPageUrl))
                    {
                        <span style="margin-left: 10px; margin-right: 10px">|</span>
                        <a href="@footerModel.ContactPageUrl">Contact @footerModel.PublisherName</a>
                    }
                }

                if (!string.IsNullOrEmpty(footerModel.PrivacyNoticePageUrl))
                {
                    <span style="margin-left: 10px; margin-right: 10px">|</span>
                    <a href="@footerModel.PrivacyNoticePageUrl">Privacy</a>
                }
            }
        </div>
        <div class="float-end">
            <small>Powered by Turnstile</small>
        </div>
    </div>
</footer>