@using Microsoft.Identity.Web
@using Turnstile.Web.Controllers
@using Turnstile.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Turnstile.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom mb-3 sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Turnstile</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.CanAdministerTurnstile() || User.CanAdministerAllTenantSubscriptions(User.GetHomeTenantId()!))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.RouteUrl(SubscriptionsController.RouteNames.GetSubscriptions)">Subscriptions</a>
                            </li>
                        }
                        @if (User.CanAdministerTurnstile())
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.RouteUrl(PublisherConfigurationController.RouteNames.GetPublisherConfiguration)">Setup</a>
                            </li>
                        }
                    </ul>
                    <span class="navbar-text">
                        Howdy, @User.Identity!.Name!
                    </span>
                    <span class="navbar-text">
                        <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            Turnstile
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
