@using Microsoft.Identity.Web
@using Turnstile.Web.Controllers
@using Turnstile.Web.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
            .nav-scroller .nav

        {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            white-space: nowrap;
            text-align: center;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <main>
            @RenderBody()
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            <div class="float-start">
                @{
                    const string layoutDataKey = "Layout";

                    if (ViewData.ContainsKey(layoutDataKey))
                    {
                        var footerModel = (ViewData[layoutDataKey] as LayoutViewModel)!;

                        if (!string.IsNullOrEmpty(footerModel.PublisherName))
                        {
                            if (string.IsNullOrEmpty(footerModel.HomePageUrl))
                            {
                                <span>&copy; @DateTime.UtcNow.Year @footerModel.PublisherName </span>
                            }
                            else
                            {
                                <span>&copy; @DateTime.UtcNow.Year <a href="@footerModel.HomePageUrl">@footerModel.PublisherName</a> </span>
                            }

                            if (!string.IsNullOrEmpty(footerModel.ContactPageUrl))
                            {
                                <span>&middot; <a href="@footerModel.ContactPageUrl">Contact</a></span>
                            }
                        }

                        if (!string.IsNullOrEmpty(footerModel.PrivacyNoticePageUrl))
                        {
                            <span>&middot; <a href="@footerModel.PrivacyNoticePageUrl">Privacy</a></span>
                        }
                    }
                }
            </div>
            <div class="float-end">
                <span>Powered by <a href="https://github.com/microsoft/turnstile">Turnstile</a></span>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>